<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>U袋网</title>  
    <meta name="description" content="U袋网-专业的网上购物商城,销售男装，女装，包包，童装，鞋靴等数千个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!"/> 
    <meta name="keywords" content="男装，女装，包包，童装，鞋靴，U袋网"/> 
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/vue.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="css/index-head.css">
</head>
<body>
<div id="demo" v-cloak>
<!-- 头部 -->
    <div class="header">
        <div class="over">
            <div class="over-bg clearfix">
                <div class="over-welcome">嗨，欢迎来到<span class="over-red">U袋网</span></div>
                <div class="over-left" v-for="item in left">
                    <a :href="item.url">{{item.text}}</a>
                </div>
                <div class="over-right" v-for="(item,index) in right">
                    <a :href="item.url" :class="{'active':index==4}">{{item.text}}</a>
                </div>
            </div>
        </div>
        <div class="search">
            <h1 class="logo">
                    U袋网
                <a href=""></a>
            </h1>
            <div class="inp">
                <div class="search-inp">
                    <input type="text"  placeholder="Ta们都在搜U袋网">
                    <button type="button">
                        <img src="img/ser.png" alt="">
					</button>
                </div>
                <div class="clearfix search-shop">
                    <a :href="item.url" class="search-hot" v-for="item in hot">{{item.text}}</a>
                </div>
            </div>
            <a href="gouwuche.html" class="car">
                <i class="iconfont icon-shopcart cr fz16"></i>
                购物车 {{udai.shopCart|shopCartAdd}} 件
            </a>
        </div>
    </div>
<!-- 导航栏 -->
    <div class="nav">
        <div class="all">
            <div class="nav-all">
                <i class="iconfont icon-menu"></i>
                全部分类
            </div>
            <div class="nav-list" v-for="(item,index) in list">
                <a :href="item.url" :class="{'active':index==0}">{{item.text}}</a>
            </div>
        </div>
    </div>   
<!-- 返回顶部 -->
    <div class="return">
        <a class="return-a" href="udai_welcome.html"><i class="iconfont icon-user"></i><span class="return-s">用户中心</span></a>
        <a class="return-a" href="gouwuche.html"><i class="iconfont icon-cart"></i><span class="return-s">购物车</span> <div class="cart-add">{{udai.shopCart|shopCartAdd}}</div> </a>
        <a class="return-a" href="udai_collection.html"><i class="iconfont icon-aixin"></i><span class="return-s">我的收藏</span></a>
        <a class="return-a" href=""><i class="iconfont icon-liaotian"></i><span class="return-s">联系客服</span></a>
        <a class="return-a" href="fankui.html"><i class="iconfont icon-liuyan"></i><span class="return-s">留言反馈</span></a>
        <a href="" class="return-top"><i class="iconfont icon-top"></i></a>
    </div>
<!-- 底部 -->
    <div class="footer">
        <div class="tags">
            <div class="tags-img">
                <div><img src="img/footer_1.gif"></div>
                <div><img src="img/footer_2.gif"></div>
                <div><img src="img/footer_3.gif"></div>
                <div><img src="img/footer_4.gif"></div>
            </div>
        </div>
        <div class="links">
            <div class="one">
                <h2>U袋网</h2>
                <div class="links-one" v-for="item in one">
                    <a :href="item.url">{{item.text}}</a>
                </div>
            </div>
            <div class="two">
                <h2>服务中心</h2>
                <div class="links-two" v-for="item in two">
                    <a :href="item.url">{{item.text}}</a>
                </div>
            </div>
            <div class="three">
                <h2>新手上路</h2>
                <div class="links-three" v-for="item in three">
                    <a :href="item.url">{{item.text}}</a>
                </div>  
            </div>
        </div>
        <div class="copy">
            <div class="copy-1" v-for="item in copy">
                <a :href="item.url">{{item.text}}</a>
            </div>
        </div>
        <div class="copy-2">
            <div>© 2005-2017 U袋网 版权所有，并保留所有权利</div>
            <div>ICP备案证书号：闽ICP备16015525号-2    福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室    Tel: 18650406668    E-mail: 18650406668@qq.com</div>
        </div>
    </div>
</div>
    <script>
        // 千分位过滤器
                Vue.filter('muchAdd', function(value) {
                    if(!value) return '0.00';
                    var intPart = Number(value).toFixed(0); //获取整数部分
                    var intPartFormat = intPart.toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,'); //将整数部分逢三一断
                    var floatPart = ".00"; //预定义小数部分
                    var value2Array = value.split(".");
                    //=2表示数据有小数位
                    if(value2Array.length == 2) {
                        floatPart = value2Array[1].toString(); //拿到小数部分
                        if(floatPart.length == 1) { //补0,实际上用不着
                            return intPartFormat + "." + floatPart + '0';
                        } else {
                            return intPartFormat + "." + floatPart;
                        }
                    } else {
                        return intPartFormat + floatPart;
                    }
                })
        // 大于99
                Vue.filter('shopCartAdd',function(value){
                    return value<=99?value:99+'+';
                })
        // 超过1万
                Vue.filter('jifenAdd',function(value){
                    if(value/10000>1){
                        return (value/10000).toFixed(2)+"万+"
                    }else{
                        return value
                    }
                })
        // 大于9999
                Vue.filter('dayAdd',function(value){
                    return value<=9999?value:9999+'+';
                })
                Vue.filter('dailiAdd',function(value){
                    if(value/10000>1){
                        return (value/10000).toFixed(2)+"万+"
                    }else{
                        return value
                    }
                })
    </script>
    <script>
            var vm = new Vue({
                el:"#demo",
                data:{
                    udai:{
                        shopCart:'0',
                        tel:'18759808122',
                        jifen:'30',
                        day:'1',
                        daili:'9527'
                    },
    // 头部
                    left:[
                        {url:'#',text:'网站代销'},
                        {url:'cjwt.html',text:'帮助中心'}
                    ],
                    right:[
                        {url:'udai_welcome3.html',text:'积分平台'},
                        {url:'udai_order.html',text:'我的订单'},
                        {url:'udai_order.html',text:'我的U袋'},
                        {url:'login.html?name=zc',text:'注册'},
                        {url:'login.html',text:'登录'}
                    ],
                    hot:[
                        {url:'classify.html',text:'连衣裙'},
                        {url:'classify.html',text:'衬衫'},
                        {url:'classify.html',text:'裤'},
                        {url:'classify.html',text:'T恤'},
                        {url:'classify.html',text:'女包'},
                        {url:'classify.html',text:'家居服'},
                        {url:'classify.html',text:'2017新款'}
                    ],
                    list:[
                        {url:'#',text:'首页'},
                        {url:'introduction.html',text:'企业简介'},
                        {url:'agent.html',text:'新手上路'},
                        {url:'#',text:'U袋学堂'},
                        {url:'#',text:'企业账号'},
                        {url:'#',text:'诚信合约'},
                        {url:'#',text:'实时下架'},
                    ],
    // 底部
                    one:[
                        {url:'introduction.html',text:'企业简介'},
                        {url:'join-U.html',text:'加入U袋'},
                        {url:'privacy.html',text:'隐私说明'}
                    ],
                    two:[
                        {url:'udai_welcome6.html',text:'售后服务'},
                        {url:'psfw.html',text:'配送服务'},
                        {url:'yhxy.html',text:'用户协议'},
                        {url:'cjwt.html',text:'常见问题'}
                    ],
                    three:[
                        {url:'agent.html',text:'如何成为代理商'},
                        {url:'sales.html',text:'代销商上架教程'},
                        {url:'distributor.html',text:'分销商常见问题'},
                        {url:'payment.html',text:'付款账户'}
                    ],
                    copy:[
                        {url:'#',text:'网店代销'},
                        {url:'#',text:'U袋学堂'},
                        {url:'#',text:'联系我们'},
                        {url:'introduction.html',text:'企业简介'},
                        {url:'agent.html',text:'新手上路'}
                    ]
                }
            })
        </script>
        <script>
            $('.nav-shop').mouseover(function(){
                $('.more').css({'display':'block'})
            })
            $('.nav-bottom').mouseout(function(){
                $('.more').css({'display':'none'})
            })
            window.onscroll = function(){
    // 右侧返回顶部
                if($(document).scrollTop()>$(window).height()){
                    $('.return a.return-top').css({'display':'block'})
                    $('.return').css({'bottom':'10px'})
                    $('.build').css({'position':'fixed','top':'300px','left':'0'})
                }
                if($(document).scrollTop()==0){
                    $('.return a.return-top').css({'display':'none'})
                    $('.return').css({'bottom':'-35px'})
                    $('.build').css({'position':'absolute','top':'625px','left':'0'})
                }
    // 楼层导航
                if($(document).scrollTop()>400){
                    $('.build').css({'position':'fixed','top':'250px','left':'0'})
                }
                if($(document).scrollTop()<400){
                    $('.build').css({'position':'absolute','top':'625px','left':'0'})
                }
                
                if($(document).scrollTop()<1100){
                    $('.build1').css({'color':'#b31e22','font-weight':'bold'})
                    $('.build2').removeClass('build-red')
                }else              
                if($(document).scrollTop()>1100){
                    $('.build1').css({'color':'#333','font-weight':'normal'})
                    $('.build2').addClass('build-red')
                    $('.build3').removeClass('build-red')
                }   
                if($(document).scrollTop()>1700){
                    $('.build2').removeClass('build-red')
                    $('.build3').addClass('build-red')
                    $('.build4').removeClass('build-red')
                } 
                if($(document).scrollTop()>2300){
                    $('.build3').removeClass('build-red')
                    $('.build4').addClass('build-red')
                    $('.build5').removeClass('build-red')
                }      
                if($(document).scrollTop()>2900){
                    $('.build4').removeClass('build-red')
                    $('.build5').addClass('build-red')
                    $('.build6').removeClass('build-red')
                } 
                if($(document).scrollTop()>3500){
                    $('.build5').removeClass('build-red')
                    $('.build6').addClass('build-red')
                }  
            }
            for(var i=0;i<$('.build a').length;i++){
                $('.build a').click(function(){
                    $('.build a').removeClass('build-red');
                    $(this).addClass('build-red')
                })
            }  
        </script>
    </body>
    </html>