<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="U袋网-专业的网上购物商城,销售男装，女装，包包，童装，鞋靴等数千个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!"/> 
    <meta name="keywords" content="男装，女装，包包，童装，鞋靴，U袋网"/> 
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script src="./layui/layui.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/udorder.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <title>U袋网</title>
    
</head>

<body>
    <div id="app" v-cloak>
        <!-- 头部 -->
        <div class="header">
            <div class="over">
                <div class="over-bg clearfix">
                    <div class="over-welcome">嗨，欢迎来到<span class="over-red">U袋网</span></div>
                    <div class="over-left" v-for="item in left">
                        <a :href="item.url" class="txe">{{item.text}}</a>
                    </div>
                    <div class="over-right" v-for="(item,index) in right" >
                        <a :href="item.url" :class="{'active':index==4}" class="txe">{{item.text}}</a>
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="con1 clearfix">
                    <h1 class="logo fl">
                            U袋网
                        <a href="index.html"></a>
                    </h1>
                    <div class="inp fl">
                        个人中心
                    </div>
                </div>
            </div>
        </div>
        <!-- 返回顶部 -->
        <div class="return">
            <a class="return-a" href=""><i class="iconfont icon-user"></i><span class="return-s">用户中心</span></a>
            <a class="return-a" href=""><i class="iconfont icon-cart"></i><span class="return-s">购物车</span></a>
            <a class="return-a" href=""><i class="iconfont icon-aixin"></i><span class="return-s">我的收藏</span></a>
            <a class="return-a" href=""><i class="iconfont icon-liaotian"></i><span class="return-s">联系客服</span></a>
            <a class="return-a" href=""><i class="iconfont icon-liuyan"></i><span class="return-s">留言反馈</span></a>
            <a href="" class="return-top"><i class="iconfont icon-top"></i></a>
        </div>
    <div id="udai-welcome" class="clearfix body">
        <div class="left fl">
            <div class="one">
                <a href="./udai_welcome.html" style="text-decoration: none;">
                    <p>U袋欢迎页</p>
                </a>
            </div>
            <div class="two">
                <p>账户信息</p>
                <ul>
                    <li>
                            <a href="udai_welcome2.html" class="xq xuan">个人资料</a>
                        </li>
                        <li>
                            <a href="./udai_welcome3.html" class="xq">积分平台</a>
                        </li>
                        <li>
                            <a href="./udai_welcome4.html" class="xq">收货地址</a>
                        </li>
                        <li>
                            <a href="./udai_welcome5.html" class="xq">修改登录密码</a>
                    </li>
                </ul>
            </div>
            <div class="two">
                <p>订单中心</p>
                <ul>
                    <li class="color-b">
                        <a href="./udai_order.html" class="xq color-a">我的订单</a>
                    </li>
                    <li>
                        <a href="./udai_collection.html" class="xq">我的收藏</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="xq">退货/换货</a>
                    </li>
                </ul>
            </div>
            <div class="two">
                <p>服务中心</p>
                <ul>
                    <li>
                            <a href="wlcx.html" class="xq">物流查询</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="xq">数据自动下载</a>
                    </li>
                    <li>
                        <a href="./udai_welcome6.html" class="xq">售后服务</a>
                    </li>
                    <li>
                        <a href="psfw.html" class="xq">配送服务</a>
                    </li>
                    <li>
                            <a href="yhxy.html" class="xq">用户协议</a>
                    </li>
                    <li>
                        <a href="cjwt.html" class="xq">常见问题</a>
                    </li>
                </ul>
            </div>
            <div class="two">
                <p>新手上路</p>
                <ul>
                    <li>
                        <a href="javascript:;" class="xq">如何成为代理商</a>
                    </li>
                    <li>
                            <a href="sales.html" class="xq">代销商上架教程</a>
                    </li>
                    <li>
                        <a href="distributor.html" class="xq">分销商常见问题</a>
                    </li>
                    <li>
                            <a href="payment.html" class="xq">付款账户</a>
                    </li>
                </ul>
            </div>
            <div class="two">
                <p>U袋网</p>
                <ul>
                    <li>
                            <a href="introduction.html" class="xq">企业简介</a>
                    </li>
                    <li>
                        <a href="join-U.html" class="xq">加入U袋</a>
                    </li>
                    <li>
                        <a href="privacy.html" class="xq">隐私说明</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fl right">
            <div class="right-two">
                <div class="tit clearfix">
                    <p class="fl">订单中心 - 我的订单</p>
                </div>
                <div class="cont">
                    <ul class="clearfix">
                        <li class="fl" :class="{color:num==index}" v-for="(con,index) in dist" :key="index" @click="xxk(index)">{{con.name}}<span class="connum">{{con.num}}</span></li>
                        <li class="bor"></li>
                    </ul>
                    <div class="spxx container">
                        <p class="col-lg-4">商品信息</p>
                        <p class="col-lg-2">单价</p>
                        <p class="col-lg-1">数量</p>
                        <p class="col-lg-2">实付款</p>
                        <p class="col-lg-1 jyzt">交易状态</p>
                        <p class="col-lg-2">交易操作</p>
                    </div>
                    <div v-for="(item,index) in dist" v-if="item.xy==true" :key="index">
                        <div v-if='item.val.length>0' class="cont-xq container" v-for="(conte,index) in item.val" :key="index">
                            <div class="col-lg-4">
                                <p class="cont-tit">{{conte.dd}}</p>
                                <div class="clearfix">
                                    <img :src="conte.img" alt="" class="fl con-img">
                                    <div class="fl con-ll">
                                        <p class="con-nr display">{{conte.tit}}</p>
                                        <p class="con-fl">{{conte.color}}</p>
                                        <p class="con-yh">{{conte.yh}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 lh">${{conte.jq | NumFormat}}</div>
                            <div class="col-lg-1 lh">{{conte.num}}</div>
                            <div class="col-lg-2 lh">
                                <p class="dhjz">${{conte.sjjq | NumFormat}}
                                    <br>
                                    <span>(含运费：￥{{conte.yf}})</span>
                                </p>
                            </div>
                            <div class="col-lg-1 lh">
                                <p class="dhjz">{{conte.ddfk}}<br v-if="show?conte.ckwl=='':conte.ckwl!=''">                                
                                    <span class="ck" v-if="show?conte.ckwl=='':conte.ckwl!=''">{{conte.ckwl}}</span>
                                    <br>
                                    <span class="ddxq" @click="winp">{{conte.ddxq}}</span>
                                </p>
                            </div>
                            <div class="col-lg-2 lh">
                                <p class="dhjz">
                                    <button class="fk">{{conte.ljfk}}</button>
                                    <br>
                                    <span class="qx">{{conte.qxfk}}</span>
                                </p>
                            </div>
                        </div>
                        <div v-if='item.val.length==0' class="cont-xq2">
                            <div class="cont-xq1">
                                最近没有任何订单，家里好像缺了点什么！
                                <br>
                                <a href="javascript:;">要不瞧瞧去？</a>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="demo0"><div id="demo0"></div></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="footer">
            <div class="tags">
                <div class="tags-img">
                    <div><img src="./img/footer_1.gif"></div>
                    <div><img src="./img/footer_2.gif"></div>
                    <div><img src="./img/footer_3.gif"></div>
                    <div><img src="./img/footer_4.gif"></div>
                </div>
            </div>
            <div class="links">
                <div class="one1">
                    <h2>U袋网</h2>
                    <div class="links-one" v-for="item in one">
                        <a :href="item.url">{{item.text}}</a>
                    </div>
                </div>
                <div class="two1">
                    <h2>服务中心</h2>
                    <div class="links-two" v-for="item in two">
                        <a :href="item.url">{{item.text}}</a>
                    </div>
                </div>
                <div class="three1">
                    <h2>新手上路</h2>
                    <div class="links-three" v-for="item in three">
                        <a :href="item.url">{{item.text}}</a>
                    </div>  
                </div>
            </div>
            <div class="copy">
                <div class="copy-1" v-for="item in copy">
                    <a :href="item.url">{{item.text}}</a>
                </div>
            </div>
            <div class="copy-2">
                <div>© 2005-2017 U袋网 版权所有，并保留所有权利</div>
                <div>ICP备案证书号：闽ICP备16015525号-2    福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室    Tel: 18650406668    E-mail: 18650406668@qq.com</div>
            </div>
        </div> 
    </div>
</body>

</html>
<script src="./js/pagejs/udorder.js"></script>