@charset "utf-8";
        [v-cloak] {
            display: none;
        }
        
        body {
            background: #f5f5f5;
        }

        #udai-welcome {
            width: 1200px;
            margin: 0 auto;
        }

        .left {
            width: 230px;
        }

        .one {
            width: 100%;
            height: 42px;
            background: #fff;
        }

        .one a p {
            height: 32px;
            background: #b31e22;
            line-height: 32px;
            padding-left: 20px;
            box-sizing: border-box;
            font-size: 14px;
            color: #fff;
        }

        .two {
            width: 100%;
        }

        .two p {
            height: 32px;
            line-height: 32px;
            padding-left: 20px;
            box-sizing: border-box;
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }

        .two ul {
            padding-bottom: 10px;
            background: #fff;
        }

        .two ul li {
            height: 32px;
            line-height: 32px;
            padding-left: 20px;
            box-sizing: border-box;
        }

        .xq {
            font-size: 14px;
            color: #666;
            display: block;
            width: 100%;
        }
        .color-b{
            border-left: 5px solid #b31e22;
            box-sizing: border-box;
            padding-left:15px !important;
        }
        .color-a{
            color:#b31e22 !important;            
        }
        .two ul li:hover {
            cursor: pointer;
            background: #f5f5f5;
        }

        .two ul a:hover {
            text-decoration: none;
            color: #666
        }

        .left {
            margin-right: 20px;
        }

        .right {
            width: 950px;
        }
        .tit {
            width: 100%;
            height: 40px;
            background: #fff;
            padding: 0 16px 0 16px;
            box-sizing: border-box;
            
        }

        .tit p {
            width: 910px;
            color:#666;
            line-height: 40px;
            font-size: 14px;
            border-bottom: 1px solid #d3d3d3;
        }
        a:hover{cursor: pointer;text-decoration: none;}
        .right-two {
            margin-bottom: 20px;
        }
        .ddhm{background:#fff;padding: 30px 24px 24px 24px;box-sizing: border-box;}
        .shdz{font-size: 14px;margin-top: 10px;}
        .shdz span{font-size: 14px;color:#666;}
        .ddxx{padding-left: 24px;box-sizing: border-box;}
        .ddxx li{color:#666;margin-right: 60px;margin-top: 10px;}
        .ddxx li:nth-last-child(1){margin-left: 18px;}
        .lin{line-height: 28px;text-align: center;background: #f1f1f1;}
        .ddsp-xq{background: #fff;padding: 0 24px;box-sizing: border-box;}
        .qwe{border-top: none !important;}
        .ddsp-tit li:nth-child(1){width: 370px;border-right: none;border-top: none;}
        .ddsp-tit li:nth-child(2){width: 90px;border-right: none;border-top: none}
        .ddsp-tit li:nth-child(3){width: 90px;border-right: none;border-top: none}
        .ddsp-tit li:nth-child(4){width: 90px;border-right: none;border-top: none}
        .ddsp-tit li:nth-child(5){width: 80px;border-right: none;border-top: none}
        .ddsp-tit li:nth-child(6){width: 90px;border-right: none;border-top: none}
        .ddsp-tit li:nth-child(7){width: 90px;border-top: none;}
        .borde{border: 1px solid #d3d3d3;}
        .img-one{padding: 4px;box-sizing: border-box;}
        .img-one img{width: 82px;margin-right: 8px;border: 1px solid #d3d3d3;box-sizing: border-box;}
        .img-one div{width: 270px;position: relative;height:82px;}
        .img-one div p:nth-child(1){font-size: 13px;}
        .img-one div p:nth-child(2){font-size: 12px;position: absolute;bottom: 0;color: #999;}
        .cen{text-align: center;overflow: hidden;}
        .coloac{font-size: 14px;color: #b31e22;}
        .l-h{line-height: 90px;}
        .dhjz {
            display: inline-block;
            vertical-align: middle;
            line-height: 22px;
            text-align: center;
            width: 100%;
        }
        .tr-i{text-align: right;background:#fff;padding: 24px 24px 24px 24px;box-sizing: border-box;}
        .acolo{color:#999;}
        .sfk{font-size: 18px;}
        .sfk span{font-size: 18px;color: #b31e22;font-weight: bold;}
        .display{
            display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 14px;
        }
    /* 头部 */
        .header{
            margin-bottom: 40px;
        }
        .logo{
            width: 224px;
            height: 80px;
            margin-right:80px; 
            margin-bottom: 10px;
            margin-top: 10px;
            background: url(../img/icons/logo-news.png) no-repeat;
            background-size: 224px 80px;
            text-indent: -999em;
        }
        .logo a{
            width: 224px;
            height: 80px;
            display: block;
            margin-top: -50px;
        }
        .over{
            background: #f5f5f5;
        }
        .con1{
            width: 1200px;
            margin: 0 auto;
        }
        .over-bg{
            height: 35px;
            width: 1200px;
            margin: 0 auto;
            line-height: 35px;
        }
        .over-left,.over-welcome{
            float: left;
            display: flex;
        }
        .over-right{
            float: right;
            display: flex;
        }
        .over-welcome,.over-welcome span,.over-left a,.over-right a{
            font-size: 14px;
        }
        .over-left a,.over-right a{
            margin-left:30px; 
        }
        .over-red{
            color: #b31e22;
            margin: 0;
        }
        .over-left a:hover,.over-right a:hover{
            color:  #b31e22;
        }
        .search{
            width: 100%;
            margin: 0 auto;
            display: flex;
            background: #fff;
        }
        .inp{
            width: 600px;
            margin-top: 24px;
            padding-left: 24px;
            box-sizing: border-box;
            border-left: 1px solid #d3d3d3;
            line-height: 60px;
            height: 60px;
            font-size: 20px;
        }
        /* 返回顶部 */
        .return{
            width: 35px;
            height: 240px;
            position: fixed;
            bottom: -35px;
            right: 0;
            z-index: 999;
        }
        .return a{
            display: block;
            width: 35px;
            height: 35px;
            background: #7a6e6e;
            margin-bottom: 2px;
            text-align: center;
            line-height: 35px;
            position: relative;
        }
        .return a i{
            font-size: 20px;
            color: #fff;
        }
        .return a span{
            color: #fff;
            background: #616161;
            height: 25px;
            width: 60px;
            line-height: 25px;
            text-align: center;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 40px;
            display: none;
            margin-top: 5px;
        }
        .return-a:hover .return-s{
            display: block;
        }
        .return a.return-top{ 
            margin-top: 10px;
            display: none;
        }
        .footer{
            margin-top: 40px;
        }
        .tags{
            width: 100%;
            height: 88px;
            background: #f8f8f8;
        }
        .tags-img{
            width: 1200px;
            margin: 0 auto;
            display: flex;
        }
        .tags-img div{
            width: 300px;
            border-right: solid 1px #ececec;
            text-align: center;
            margin-top: 24px;
            box-sizing: border-box;
        }
        .links{
            width: 1200px;
            height: 146px;
            margin: 0 auto;
            border-bottom: 1px solid #e0e0e0;
            box-sizing: border-box;
            display: flex;
            padding-top: 25px;
        }
        .links h2{
            font-size: 14px;
        }
        .links a{
            color: #666;
            font-size: 14px;
        }
        .links a:hover,.dibu-1 a:hover{
            text-decoration: underline;
        }
        .links h2{
            font-weight: bold;
        }
        .one1{
            margin-left: 220px;
        }
        .two1{
            margin-left: 260px;
        }
        .three1{
            margin-left: 260px;
        }
        .copy{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            padding-left: 270px;
            box-sizing: border-box;
        }
        .copy-1{
            height: 50px;
            padding: 20px 0 10px 60px;
            box-sizing: border-box;
        }
        .copy-1 a{
            font-size: 14px;
        }
        .copy-1 a:hover{
            text-decoration: underline;
        }
        .copy-2{
            color: #666;
            font-size: 14px;
            text-align: center;
        }
        .copy-2 div{
            margin-bottom: 10px;
        }
        .active,.nav-list a.active{
            color: #b31e22
        }
        .txe{
            color:#000;
        }
        .txe:hover{
            text-decoration: none;
        }
    