@charset "utf-8";
[v-cloak] {
    display: none;
}

body {
    background: #f5f5f5;
}

.shengzi {
    width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
}

.left {
    width: 230px;
}

.one {
    width: 100%;
    height: 42px;
    background: #fff;
}

.one a p {
    height: 32px;
    background: #b31e22;
    line-height: 32px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

.two {
    width: 100%;
}

.two p {
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.two ul {
    padding-bottom: 10px;
    background: #fff;
}

.two ul li {
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    box-sizing: border-box;
}

.xq {
    font-size: 14px;
    color: #666;
    display: block;
    width: 100%;
}

.two ul li:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.two ul a:hover {
    text-decoration: none;
    color: #666
}

.left {
    margin-right: 20px;
}

.right {
    width: 950px;
}

/* 头部 */

.over {
    background: #f5f5f5;
}

.over-bg {
    height: 35px;
    width: 1200px;
    margin: 0 auto;
    line-height: 35px;
}

.over-left,
.over-welcome {
    float: left;
    display: flex;
}

.over-right {
    float: right;
    display: flex;
}

.over-welcome,
.over-welcome span,
.over-left a,
.over-right a {
    font-size: 14px;
}

.over-left a,
.over-right a {
    margin-left: 30px;
}

.over-red {
    color: #b31e22;
    margin: 0;
}

.over-left a:hover,
.over-right a:hover {
    color: #b31e22;
}

.search {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.logo {
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 7px;
    box-sizing: border-box;
    margin-left: 5.8%;
    display: inline-block;
}

.logo img {
    width: 224px;
    height: 80px;
}

.inp {
    width: 600px;
    padding-top: 32px;
    box-sizing: border-box;
}

.search-inp {
    height: 36px;
    position: relative;
}

.search-inp input {
    height: 36px;
    width: 100%;
    border: solid 1px #b31e22;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 5px;
}

.search-inp button {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 60px;
    background: #b31e22;
    border: none;
    cursor: pointer;
}

.search-inp button img {
    width: 20px;
    height: 20px;
}

.search-hot {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    float: left;
    margin-right: 5px;
}

.search-hot:hover {
    color: #b31e22;
}

.car {
    margin-left: 146px;
    margin-top: 32px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    width: 154px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #999;
}

.car {
    display: block;
    font-size: 14px;
}

.fz16 {
    font-size: 14px;
    color: #b31e22;
}

/* 导航栏 */

.nav {
    width: 100%;
    height: 40px;
    background: #333;
}

.all {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.nav-all {
    width: 200px;
    height: 40px;
    background: #b31e22;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    box-sizing: border-box;
}

.nav-list a {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
    color: #fff;
    line-height: 40px;
}

.nav-list a:hover {
    background: #666666;
}

/* 返回顶部 */

.return {
    width: 35px;
    height: 240px;
    position: fixed;
    bottom: -35px;
    right: 0;
    z-index: 999;
}

.return a {
    display: block;
    width: 35px;
    height: 35px;
    background: #7a6e6e;
    margin-bottom: 2px;
    text-align: center;
    line-height: 35px;
    position: relative;
}

.return a i {
    font-size: 20px;
    color: #fff;
}

.return a span {
    color: #fff;
    background: #616161;
    height: 25px;
    width: 60px;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 40px;
    display: none;
    margin-top: 5px;
}

.return-a:hover .return-s {
    display: block;
}

.return a.return-top {
    margin-top: 10px;
    display: none;
}

/* 底部 */

.footer {
    margin-top: 40px;
}

.tags {
    width: 100%;
    height: 88px;
    background: #f8f8f8;
}

.tags-img {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.tags-img div {
    width: 300px;
    border-right: solid 1px #ececec;
    text-align: center;
    margin-top: 24px;
    box-sizing: border-box;
}

.links {
    width: 1200px;
    height: 146px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    display: flex;
    padding-top: 25px;
}

.links h2 {
    font-size: 14px;
}

.links a {
    color: #666;
    font-size: 14px;
}

.links a:hover,
.dibu-1 a:hover {
    text-decoration: underline;
}

.links h2 {
    font-weight: bold;
}

.one2 {
    margin-left: 220px;
}

.two2 {
    margin-left: 260px;
}

.three {
    margin-left: 260px;
}

.copy {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-left: 270px;
    box-sizing: border-box;
}

.copy-1 {
    height: 50px;
    padding: 20px 0 10px 60px;
    box-sizing: border-box;
}

.copy-1 a {
    font-size: 14px;
}

.copy-1 a:hover {
    text-decoration: underline;
}

.copy-2 {
    color: #666;
    font-size: 14px;
    text-align: center;
}

.copy-2 div {
    margin-bottom: 10px;
}

.active,
.nav-list a.active {
    color: #b31e22
}

.zi {
    color: #b31e22;
    border-bottom: 1px solid #b31e22;
}

.mima {
    padding: 20px 0px 10px 0px;
    box-sizing: border-box;
}

.mima-q {
    padding: 22px 0px 16px 30px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

.mima-q-w {
    width: 134px;
    line-height: 34px;
    color: #ffffff;
    background: #b31e22;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.mima-q-e {
    width: 134px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.mima-w {
    line-height: 48px;
    font-size: 14px;
    color: #737373;
}

.yin {
    display: none;
}

.xian {
    display: block;
}

.mima-w {
    display: flex;
    width: 900px;
}

.mima-w-q {
    flex: 1;
    line-height: 34px;
    font-size: 14px;
}

.mima-w-q-q {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background: #e2e2e2;
    padding: 3px;
    box-sizing: border-box;
}

.mima-w-q-q-q {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
}

.mima-w-q-w {
    padding: 12px 0px;
    box-sizing: border-box;
}

.mima-w-q-w-q {
    height: 10px;
    padding: 3px 0px;
    box-sizing: border-box;
    background: #e2e2e2;
}

.mima-w-q-w-q-q {
    width: 268px;
    height: 4px;
}

.mima-w-w {
    line-height: 34px;
    font-size: 14px;
    text-align: center;
}

.mima-w-q-w-q-w {
    width: 134px;
    height: 4px;
}

.mima-w-w-e {
    line-height: 34px;
    font-size: 14px;
    text-align: right;
}

.jing {
    background: #b31e22;
}

.mima-e {
    height: 54px;
    width: 280px;
    position: relative;
}

.mima-e-q {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 280px;
    height: 34px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.mima-e-w {
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 280px;
    height: 34px;
    border: none;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    background: none;
}

.mima-e-e {
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: 14px;
    color: #666666;
}

.mima-e-r {
    width: 22px;
    height: 19px;
    position: absolute;
    right: 12px;
    bottom: 7px;
}

.mima-r {
    padding: 20px 0px;
    box-sizing: border-box;
}

.mima-r-q {
    line-height: 34px;
    text-align: center;
    width: 125px;
    background: #b31e22;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.bianyan {
    border: 1px solid #b31e22;
}

.bianyan2 {
    bottom: 26px;
    color: #b31e22;
    background: #fff;
    transition: bottom 1s;
}

.mima-t {
    padding: 36px 0px 70px 0px;
    box-sizing: border-box;
}

.mima-t-q {
    width: 50px;
    height: 50px;
    background: #b31e22;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}

.mima-t-w {
    font-size: 12px;
    color: #666560;
    line-height: 42px;
    text-align: center;
}

.mima-t-e {
    width: 360px;
    padding-top: 12px;
    box-sizing: border-box;
    margin: 0 auto;
}

.mima-t-e-q {
    line-height: 34px;
    font-size: 14px;
    color: #ffffff;
    background: #b31e22;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.xiang {
    width: 950px;
    padding: 20px 24px 0px 24px;
    box-sizing: border-box;
    background: #ffffff;
}

.xiang-ge {
    padding-bottom: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
    color: #666666;
    font-size: 14px;
}

.beijing {
    background: #ffffff;
}

.search2 {
    background: #ffffff;
    width: 100%;
    height: 110px;
}

.geren {
    display: inline-block;
    width: 120px;
    padding: 20px 0px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333333;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}

.xuan {
    color: #b31e22;
}